body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input{
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #5f9341 ;
    background-color: white;
    margin-bottom: 5px;
}

button{
    background-color: #5f9341;
    color: aliceblue;
    padding: 10px 20px;
    font-size: medium;
    font-weight: bold;
    border: 1px solid #5f9341 ;
    border-radius: 2px;
}

ul{
   list-style: none;
   padding-left: 0;
}

li{
    margin-top: 5px;
}

li a{
    color:#5f9341;
    font-weight:200 
}
#delete-btn{
    background-color:  aliceblue;
    color:#5f9341;
    padding: 10px 20px;
    font-size: medium;
    font-weight: bold;
    border: 1px solid #5f9341 ;
    border-radius: 2px;
}
